

.topSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--breakpoint-xl);
    margin-inline: auto;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-top: var(--spacing-xl);
    /* background-color: indianred; */
}

.topLeftSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-md);
}

.topRightSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: fit-content;
    /* background-color: cadetblue; */
}

.hotline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-items: center;;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    /* background-color: darksalmon; */
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--breakpoint-xl);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    margin-inline: auto;
}

@media screen and (max-width: 768px) {
    .topRightSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin-top: var(--spacing-md);
    }

    .subscribe {
        /* margin-top: var(--spacing-md); */
    }

    .bottomSection {
        flex-direction: column;
        gap: var(--spacing-md);
    }
}