.container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
}

.leftColumnContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-right: var(--spacing-md);
}

.rightColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-x: hidden;
}

.rightColumnImageContainer {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
}

.rightConlumnSecondContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0;
    }

    .leftColumnContainer {
        gap: var(--spacing-sm);
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: var(--spacing-md);
        padding-top: var(--spacing-xl);
        padding-bottom: var(--spacing-xl);
    }

    .rightColumn {
        width: 100%;
        max-height: 500px;
    }

    .rightColumnImageContainer {
        display: block;
        position: relative;
        width: 100%;
        height: 300px;
    }

    .rightConlumnSecondContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 200px;
    }
}

/* Animations */
.fadeInContainer {
    animation: fadeInContainer 1s ease forwards;
}

.fadeInItem {
    opacity: 0;
    animation: fadeInItem 0.8s ease forwards;
    animation-delay: 0.3s;
}

@keyframes fadeInContainer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInItem {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageZoom {
    opacity: 0;
    transform: scale(1.05);
    animation: zoomIn 1.2s ease-out forwards;
    overflow-x: hidden;
}
  
@keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(1.05) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
}
  
/* .imageZoom {
    animation: zoomIn 1.2s ease-out forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
} */

/* Blog Section */
.blogDateTitleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--breakpoint-xl);
    padding-left: var(--spacing-sm);
    margin-inline: auto;
}

.blogDateTitleSubContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    justify-content: center;
    width: 50%;
    padding-right: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}

.blogDetailImageContainer {
    background-color: var(--secondary);
    width: 100%;
    min-height: 188px;
}

.blogDetailImageSubContainer {
    position: relative;
    display: flex;
    width: 100%;
    max-width: var(--breakpoint-xl);
    min-height: 188px;
    margin-inline: auto;
    padding: var(--spacing-sm);
}

.blogDetailButtonContainer {
    display: flex;
    flex-direction: column;
    min-height: 140px;
    justify-content: space-between;
    width: 50%;
    padding-right: var(--spacing-sm);
}

.blogImageContainer {
    position: absolute;
    width: 47%;
    height: 306px;
    bottom: var(--spacing-sm);
    right: var(--spacing-sm);
}

/* Responsive (blog) */
@media screen and (max-width: 768px) {
    .blogDateTitleSubContainer {
        width: 100%;
    }
    .blogDetailImageSubContainer {
        flex-direction: column-reverse;
    }
    .blogDetailButtonContainer {
        width: 100%;
    }
    .blogImageContainer {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        right: 0;
        margin-top: var(--spacing-sm);
    }
}