@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

@theme {
  --color-primary: #1D222E;
  --color-primaryAdd: #12151D;
  --color-accent: #DD9E63;
  --color-bgMain: #E8ECF4;
  --color-secondary: #F7FBFE;
  --color-textLight: #5B6479;
  --color-textKill: #BFC4C7;

  --text-xxs: 14px;
  --text-xs: 15px;
  --text-sm: 16px;
  --text-base: 18px;
  --text-md: 20px;
  --text-lg: 28px;
  --text-xl: 37px;
  --text-2xl: 49px;
  --text-3xl: 64px;
  --text-4xl: 72px;

  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 112px;

  --breakpoint-xs: 360px;
  --breakpoint-ss: 560px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-blog: 880px;
  --breakpoint-blogxl: 1088px;
  /* --breakpoint-lg: 1024px; */
  /* --breakpoint-xl: 1280px; */
  --breakpoint-2xl: 1536px;

  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

}
:root {
  --primary: #1D222E;
  --primaryAdd: #12151D;
  --accent: #DD9E63;
  --bgMain: #E8ECF4;
  --secondary: #F7FBFE;
  --textLight: #5B6479;
  --textKill: #BFC4C7;

  --desktop: 1280px;

  --text-xxs: 14px;
  --text-xs: 15px;
  --text-sm: 16px;
  --text-base: 18px;
  --text-md: 20px;
  --text-lg: 28px;
  --text-xl: 37px;
  --text-2xl: 49px;
  --text-3xl: 64px;
  --text-4xl: 72px;
  
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;

}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #DD9E63;
  }
}

@layer base {
  body {
    background: var(--bgMain);
    color: var(--primary);
    font-weight: var(--weight-light);
    font-size: var(--size-sm);
    /* overflow-x: hidden; */
  }
  p {
    color: var(--textLight);
    font-weight: var(--weight-light);
    font-size: var(--size-sm);
  }
  input, textarea, select {
    outline: none;
  }
  h1, h2 {
    font-weight: var(--weight-bold);
    font-size: var(--size-sm);
    color: var(--textLight);
  }
  h3 {
    font-weight: var(--weight-bold);
    font-size: var(--size-sm);
    color: var(--textLight);
  }

  .headerM {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-md);
    color: var(--primary);
  }
  
  .headerS {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-sm);
    color: var(--textLight);
  }
  .headerL {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-lg);
    color: var(--textLight);
  }
  .input-underline {
    flex: 1;
    color: var(--textLight);
    border-bottom-width: 1px;
    border-color: var(--textKill);
    padding: var(--spacing-xxxs);
  }
  .input-underline:focus {
    border-color: var(--primary);
  }

  .input-block {
    width: 100%;
    background-color: var(--bgMain);
    padding: 10px 16px 10px 16px;
  }

  .model-backdrop {
    position: fixed;
    inset: calc(var(--spacing) * 0);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    backdrop-filter: blur(4px);
  }

  .frame {
    background-color: var(--secondary);
    padding: var(--spacing-sm);
  }

  @media (width < 640px) {
    p {
      font-size: var(--text-xs);
      /* color: red; */
    }  
  }
  
}

.vastPatternPrimary {
  background-image: url("/brand/vast-pattern-primary.svg");
  background-repeat: repeat;
  background-size: 50px;
  background-position: center;
}

.vastPatternAccent {
  background-image: url("/brand/vast-pattern-accent.svg");
  background-repeat: repeat;
  background-size: 50px;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.sectionHeader {
  max-width: var(--breakpoint-xl);
  width: 100%;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.cardsContainer {
  width: 100%;
  max-width: 1280px;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--spacing-sm);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.cardsContainerWithPadding {
  width: 100%;
  max-width: 1280px;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--spacing-sm);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.nextImage {
  object-fit: cover;
  overflow: hidden;
  overflow-clip-margin: unset;
}

@media screen and (max-width: 768px) {
  .cardsContainer {
    padding: 0;
  }
}


/* Embla Carousel */
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  /* min-width: 0; */
  /* height: 100%; */
  min-height: 0;
  position: relative;
}



/* Date Picker */
.custom-datepicker {
  /* Whole calendar */
  font-size: 14px;
  /* padding: 8px; */
  /* border-radius: 12px; */
  /* background-color: var(--secondary);
  color: var(--primary); */
}

.custom-datepicker .react-datepicker__header {
  background-color: var(--bgMain);
  padding: var(--spacing-sm);
  border-bottom: none;
}

.custom-datepicker .react-datepicker__current-month {
  display: none;
  color: var(--textLight);
  font-weight: var(--weight-semibold);
  font-size: 20px;
  padding: 12px;
}

.custom-datepicker .react-datepicker__day--selected {
  background-color: var(--accent);
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--accent);
  color: white; 
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  font-size: 18px;
  font-weight: 500;
  color: var(--textLight);
  cursor: pointer;
}

.react-datepicker__day-name {
  font-size: 13px;
  font-weight: 500;
  color: #5b6479;
  margin-top: 12px;
}

/* remove */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important; /* keeps text color normal */
}