@import "tailwindcss";

@theme {
  --color-twitter-blue: #1DA1F2;
  --color-primary: #1D222E;
  --color-primaryAdd: #12151D;
  --color-accent: #DD9E63;
  --color-bgMain: #CCD3E0;
  --color-bgContent: #F7FBFE;
  --color-textLight: #5B6479;
  --color-textKill: #BFC4C7;

  --text-size-sm: 15px;
  --text-size-s: 16px;
  --text-size-m: 20px;
  --text-size-lg: 28px;
  --text-size-xl: 37px;
  --text-size-2xl: 49px;
  --text-size-3xl: 64px;
  --text-size-4xl: 200px;

  --spacing-xl: 200px;

  /* reuse for margin */
  --margin-xl: var(--spacing-xl);

  /* reuse for padding */
  --padding-xl: var(--spacing-xl);

  /* --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 500px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px; */
}
:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --primary: #1D222E;
  --primaryAdd: #12151D;
  --accent: #DD9E63;
  --bgMain: #CCD3E0;
  --bgContent: #F7FBFE;
  --textLight: #5B6479;
  --textKill: #BFC4C7;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --accent: #DD9E63;
  }
}

body {
  background: var(--bgMain);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  /* color: var(--textLight);
  font-weight: 400;
  font-size: 16px; */
}

input, textarea, select {
  outline: none;
}

/* div {
  margin-top: 200px;
} */