@import "tailwindcss";

@theme {
  --color-primary: #1D222E;
  --color-primaryAdd: #12151D;
  --color-accent: #DD9E63;
  --color-bgMain: #E8ECF4;
  --color-secondary: #F7FBFE;
  --color-textLight: #5B6479;
  --color-textKill: #BFC4C7;

  --text-size-xxs: 14px;
  --text-size-xs: 15px;
  --text-size-sm: 16px;
  --text-size-md: 20px;
  --text-size-lg: 28px;
  --text-size-xl: 37px;
  --text-size-2xl: 49px;
  --text-size-3xl: 64px;
  --text-size-4xl: 200px;

  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 112px;

  --breakpoint-xs: 360px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-blog: 880px;
  --breakpoint-blogxl: 1088px;
  /* --breakpoint-lg: 1024px; */
  /* --breakpoint-xl: 1280px; */
  --breakpoint-2xl: 1536px;

  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

}
:root {
  --primary: #1D222E;
  --primaryAdd: #12151D;
  --accent: #DD9E63;
  --bgMain: #E8ECF4;
  /* --backUpbgMain: #CCD3E0; */
  --secondary: #F7FBFE;
  --textLight: #5B6479;
  --textKill: #BFC4C7;

  --desktop: 1280px;

  --size-xs: 15px;
  --size-sm: 16px;
  --size-md: 20px;
  --size-lg: 28px;
  --size-xl: 37px;
  --size-2xl: 49px;
  --size-3xl: 64px;
  
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;

}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #DD9E63;
  }
}

@layer base {
  body {
    background: var(--bgMain);
    color: var(--primary);
    font-weight: var(--weight-light);
    font-size: var(--size-sm);
    /* overflow-x: hidden; */
  }
  p {
    color: var(--textLight);
    font-weight: var(--weight-light);
    font-size: var(--size-sm);
  }
  input, textarea, select {
    outline: none;
  }
  h1, h2 {
    font-weight: var(--weight-bold);
    font-size: var(--size-md);
    color: var(--textLight);
  }
  h3 {
    font-weight: var(--weight-bold);
    font-size: var(--size-sm);
    color: var(--textLight);
  }

}

.vastPatternPrimary {
  background-image: url("/brand/vast-pattern-primary.svg");
  background-repeat: repeat;
  background-size: 50px;
  background-position: center;
}

.vastPatternAccent {
  background-image: url("/brand/vast-pattern-accent.svg");
  background-repeat: repeat;
  background-size: 50px;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.sectionHeader {
  max-width: var(--breakpoint-xl);
  width: 100%;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.cardsContainer {
  width: 100%;
  max-width: 1280px;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--spacing-sm);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.cardsContainerWithPadding {
  width: 100%;
  max-width: 1280px;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--spacing-sm);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

@media screen and (max-width: 768px) {
  .cardsContainer {
    padding: 0;
  }
}


/* Embla Carousel */
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  /* min-width: 0; */
  /* height: 100%; */
  min-height: 0;
  position: relative;
}
